<a href="https://colab.research.google.com/github/abhilas0/pyspark-trasformation-practice/blob/main/Basic_String_Manipulation_Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<span style="color:orange">
 <h2> Basic String Manipulation Transformation </h2>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# install pyspark

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=5ce3ae3613643cf22978e844f2cd366df46b4eaf8277107707c780437499a980
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
# start pyspark session

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Basic_string_maupulation").getOrCreate()

In [5]:
# read the employee csv file

df = spark.read.csv("/content/drive/MyDrive/DE Data/EmployeeData.csv", header=True, inferSchema=True)
df.show()

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|    NULL|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|    NULL|
| 10|      NULL|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|    NULL|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  NULL| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    NULL|
| 18|      NULL|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

<b> How many employees have a first name that starts with the letter 'J'?

In [15]:
# Write your code using the Spark Function
# import all fiunctions
from pyspark.sql.functions import *

# count the names starts with J
df1 = df.filter(col("first_name").startswith("J")).count()
print("Count of first name starts with J : ", df1)

# list of first name starts with j

df2 = df.filter(col("first_name").startswith("J"))
df2.show()

Count of first name starts with J :  43
+----+----------+---------+--------------------+------+------+-------------------+--------+
|  id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+----+----------+---------+--------------------+------+------+-------------------+--------+
|  16|     Josee|   Burnep|    jburnepf@php.net|  NULL| 78569|1923-11-08 20:59:14|88925.13|
|  53|  Jermaine| Clayborn|jclayborn1g@oakle...|Female| 20034|1901-06-02 00:16:24|86427.24|
|NULL|       Joe|   Kilbee|jkilbee1w@dedecms...|  Male|147066|1912-10-21 01:47:26|63886.43|
|  78|   Jillian|  Chasmar|                NULL|Female| 18805|2019-01-07 02:06:41|93412.65|
|  98|    Joella|  Edmunds|jedmunds2p@dropbo...|Female| 49283|1994-06-09 17:34:15|94776.88|
| 153|     Jozef|   Drewes|jdrewes48@wikispa...|  Male| 16803|1949-04-30 12:53:34|54789.31|
| 163|   Jeffrey|   Sugars|                NULL|  Male|112937|1978-08-15 19:03:34|92001.92|
| 169|    Jamesy|    Gilby|                NULL|  Male|153493|1971-01-28 04:00:18|27030.09|
| 185|     Jocko|Boyington|jboyington54@chro...|  Male|112842|               NULL|21712.37|
| 196|    Jeanne|   Rearie|jrearie5f@marriot...|Female|104483|2011-04-16 15:51:52|    NULL|
| 202|     Junia|Petrovsky|jpetrovsky5l@cdc.gov|Female| 76268|1993-10-02 03:32:57|12547.89|
| 279|    Joeann|  Stenner|jstenner7q@google.cn|Female| 61864|1939-05-18 16:17:25| 64712.2|
| 285|     Jolie|    Deble|                NULL|Female|  NULL|1959-01-15 15:25:03|93432.65|
| 325|    Jaymie|  Vasyaev|jvasyaev90@sogou.com|  Male|192701|1934-10-27 23:35:56|11892.54|
| 364|     Judye| Kezourec|                NULL|Female|105711|1910-12-08 02:48:25| 51707.8|
| 374|      Jess|  Vittori| jvittoriad@xing.com|  Male| 16961|               NULL|77784.07|
| 378|   Justinn|  Attwell|jattwellah@earthl...|Female| 71279|1901-04-07 15:31:34|    NULL|
| 395| Josephine|     Boyn|                NULL|Female| 76887|               NULL|    NULL|
| 413|    Jemmie| Radbourn|jradbournbg@dropb...|Female|  NULL|               NULL|    NULL|
| 441|  Jeniffer|   Lounds|jloundsc8@sbwire.com|Female|162628|               NULL|95485.89|
+----+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

<b> How many employees have a last name that ends with the letter 's'?

In [18]:
# Write your code using the Spark Function

# count the names end with s
df3 = df.filter(col("last_name").endswith("s")).count()
print("Count of last name  with ends s : ", df3)

# list of last name ends with s

df4 = df.filter(col("last_name").endswith("s"))
df4.show()

Count of last name  with ends s :  81
+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    NULL|
| 18|      NULL|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 24|   Sharity|   Fronks|sfronksn@economis...|Female|169527|1951-06-14 19:32:49| 4960.71|
| 98|    Joella|  Edmunds|jedmunds2p@dropbo...|Female| 49283|1994-06-09 17:34:15|94776.88|
|106| Willamina|   Tipens|wtipens2x@studiop...|Female|101895|1985-07-31 17:00:39|49591.52|
|116|      NULL|    Jados|                NULL|  Male| 56578|2002-05-29 06:33:36|    NULL|
|117|     Chase|    Jacks| cjacks38@sbwire.com|  Male|135930|1949-01-30 07:05:06|27557.84|
|118|  Karalynn|   Scones| kscones39@weibo.com|Female|180007|               NULL|    NULL|
|126|     Tessy|   Vokins|tvokins3h@eepurl.com|Female| 71771|1981-11-08 22:43:34|17657.58|
|130|     Eldon|   Faires|    efaires3l@w3.org|  Male|153915|1955-08-14 02:10:16|30667.89|
|142|       Erv|   Griggs|                NULL|  Male|144655|2007-11-09 22:05:38| 95251.8|
|153|     Jozef|   Drewes|jdrewes48@wikispa...|  Male| 16803|1949-04-30 12:53:34|54789.31|
|163|   Jeffrey|   Sugars|                NULL|  Male|112937|1978-08-15 19:03:34|92001.92|
|182|  Tremayne|    Beers|  tbeers51@imgur.com|  NULL|182456|1914-02-11 19:36:47|    NULL|
|197|     April|   Wyllis|awyllis5g@simplem...|Female|169845|               NULL|95643.86|
|203|      Gaye|  Huggens|ghuggens5m@topsy.com|Female|197613|               NULL|33193.37|
|219|  Whitaker|   Fookes|wfookes62@network...|  Male|169323|1912-01-25 08:11:22|    NULL|
|233| Ekaterina| Garretts|egarretts6g@livej...|Female|113027|1930-05-04 23:50:55| 71893.5|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

<b> What is the length of the longest first name?

In [35]:
# Write your code using the Spark Function

# calculate length of each first name
df_name_length = df.withColumn("name_length",length(col("first_name")))

# Find the maximum length first name
longest_name_length = df_name_length.select(max("name_length")).collect()[0][0]
print("Length of the longest first name:", longest_name_length)

Length of the longest first name: 15

<b> What is the length of the shortest last name?

In [36]:
# Write your code using the Spark Function

# Find the minimum length first name
shortest_name_length = df_name_length.select(min("name_length")).collect()[0][0]
print("Length of the shortest first name:", shortest_name_length)

Length of the shortest first name: 2

<b> What is the email domain of the employee with the highest salary?

In [44]:
# Write your code using the Spark Function

df5 = df.orderBy(col("salary").desc()).limit(1).select("email","Salary")
df5.show()

+--------------------+------+
|               email|Salary|
+--------------------+------+
|ahanbridger3@webs...|199846|
+--------------------+------+

<b> What is the first name of the employee with the email address that contains the substring 'hr'?

In [46]:
# Write your code using the Spark Function

df6 = df.filter(col("email").contains("hr")).select("first_name","email")
df6.show()

+----------+--------------------+
|first_name|               email|
+----------+--------------------+
|      NULL|lschruyersh@desde...|
|    Averil|arobottham1e@chro...|
|     Jocko|jboyington54@chro...|
|      NULL|sachrameev5w@chro...|
|   Hermina|hruddick72@flickr...|
|      Anet|achristoffe7t@big...|
|     Licha|lwelland9r@chron.com|
|      Hewe|  hrovedj@flavors.me|
|    Samson|shrinchenkoez@how...|
|   Teodora|tstennardg8@chron...|
|     Josey|   jmedlerhr@hud.gov|
|       Gun|gbickstethr7@admi...|
+----------+--------------------+

<b> What is the last name of the employee with the email address that ends with the domain '.com'?

In [48]:
# Write your code using the Spark Function

df7 = df.filter(col("email").contains(".com")).select("last_name","email")
df7.show()

+-----------+--------------------+
|  last_name|               email|
+-----------+--------------------+
|     Ingley|vingley0@livejour...|
|      Hurll| lhurll1@answers.com|
|      Train|   mtrain2@imgur.com|
|       Foss|dfoss3@dagondesig...|
|     Antony| bantony5@sfgate.com|
|     Cardus|ecardus6@scientif...|
|    Lippett| alippett7@nifty.com|
|  Sickamore|ssickamore8@faceb...|
|     Altree|paltree9@dropbox.com|
|      Richt|   crichta@sogou.com|
|   Jelliman|hjellimane@histat...|
|    Aughtie|    caughtiej@vk.com|
|      Conry|bconryl@examiner.com|
|      Orniz|eornizm@moonfruit...|
|     Fronks|sfronksn@economis...|
|Maffioletti|emaffiolettip@pos...|
|  Jodlowski|ljodlowskiq@addto...|
|  Yuranovev|byuranovevu@blogt...|
|     Formby|mformbyv@macromed...|
| Brauninger|pbrauningerw@wire...|
+-----------+--------------------+
only showing top 20 rows

<b> How many employees have an email address that contains their last name?

In [54]:
# Write your code using the Spark Function

# employees with email address that contains name
# we have to use lower in last name in order to match with the email as the first letter is in Capital
df8 = df.filter(col("email").contains(lower(col("last_name")))).select("last_name","email")
df8.show()

+---------+--------------------+
|last_name|               email|
+---------+--------------------+
|   Ingley|vingley0@livejour...|
|    Hurll| lhurll1@answers.com|
|    Train|   mtrain2@imgur.com|
|     Foss|dfoss3@dagondesig...|
|  Dunklee| adunklee4@google.de|
|   Antony| bantony5@sfgate.com|
|   Cardus|ecardus6@scientif...|
|  Lippett| alippett7@nifty.com|
|Sickamore|ssickamore8@faceb...|
|   Altree|paltree9@dropbox.com|
|    Richt|   crichta@sogou.com|
|  Scimoni|gscimonib@craigsl...|
|  Iorizzo|liorizzoc@cpanel.net|
|    Mogra|   dmograd@bbc.co.uk|
| Jelliman|hjellimane@histat...|
|   Burnep|    jburnepf@php.net|
|   Fownes|gfownesg@redcross...|
|Schruyers|lschruyersh@desde...|
|Chatelain| mchatelaini@unc.edu|
|  Aughtie|    caughtiej@vk.com|
+---------+--------------------+
only showing top 20 rows

<b> What is the email of the employee with the first name that contains a space character?

In [58]:
# Write your code using the Spark Function

df9 = df.filter(col("first_name").contains(" ")).select("first_name","email")
df9.show()

+----------+-----+
|first_name|email|
+----------+-----+
|    Jo ann| NULL|
+----------+-----+

<b> What is the email of the employee with the last name that contains a hyphen character?

In [59]:
# Write your code using the Spark Function

df10 = df.filter(col("last_name").contains("-")).select("last_name","email")
df10.show()

+---------------+--------------------+
|      last_name|               email|
+---------------+--------------------+
|Lambert-Ciorwyn|llambertciorwyn3d...|
+---------------+--------------------+