<a href="https://colab.research.google.com/github/abhilas0/pyspark-assignments/blob/main/Databricks_Assignment2_(Basic_Data_Cleaning_Transformation).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<span style="color:orange">
 <h2> Databircks-Assigement 2 (Basic Data Cleaning Transformation)
</span>
  <h5>
    <span style="color:red">
<b>Author: Deepak Goyal <br>
   <a> adeus.azurelib.com </a><br>
   Email at: admin@azurelib.com
</span>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#install pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=f8fb7c43fffd1b853a27a03f79ccb95b0867ac246f8bf0c0aedb28361dfeb17e
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByAzureLib').getOrCreate()

In [4]:
# read csv file from one drive
df = spark.read.csv ("/content/drive/MyDrive/DE Data/EmployeeData.csv", header = True, inferSchema = True)
df.show ()

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|    NULL|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|    NULL|
| 10|      NULL|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|    NULL|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  NULL| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    NULL|
| 18|      NULL|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

<b> Find the count of duplicate employee records in the input file (based on id)?

In [8]:
# Write your code using the Spark Function

from pyspark.sql.functions import *

# unique recorde count

df1 = df.select(countDistinct("id")).collect()[0][0]
print("Number of unique employee records:", df1)

# duplicate record count

duplicate_count = df.count() - df1
print("Number of duplicate employee records:", duplicate_count)

Number of unique employee records: 970
Number of duplicate employee records: 30

<b> Find out how many records have Gender value missing.

In [13]:
# Write your code using the Spark Function
df3=df.filter(df.gender.isNull())
print("Number of records with Gender value missing:", df3.count())
df3.show()

Number of records with Gender value missing: 28
+---+----------+----------+--------------------+------+------+-------------------+--------+
| id|first_name| last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+----------+--------------------+------+------+-------------------+--------+
| 16|     Josee|    Burnep|    jburnepf@php.net|  NULL| 78569|1923-11-08 20:59:14|88925.13|
| 72|      Elmo|   Polding|epolding1z@prince...|  NULL|180688|1903-09-06 22:25:36|59278.96|
|141|  Emmeline|   Hullett|ehullett3w@abc.ne...|  NULL|172454|1973-02-18 08:07:02|96907.76|
|182|  Tremayne|     Beers|  tbeers51@imgur.com|  NULL|182456|1914-02-11 19:36:47|    NULL|
|257|     Vicki|   Huddart|vhuddart74@nifty.com|  NULL|195466|1919-05-26 14:01:12|91780.06|
|296|     Ruthy|  Cartmail|rcartmail87@cnbc.com|  NULL|141158|1988-02-04 01:48:52|95936.58|
|410|    Arturo|   O'Kelly| aokellybd@slate.com|  NULL| 93803|1941-07-24 22:46:44|    NULL|
|520|      Kara|     Indgs|kindgsef@ycombina...|  NULL|141385|               NULL|75555.27|
|522|    Jorrie|   Mustill|  jmustilleh@nps.gov|  NULL|127842|1949-11-17 06:11:11|64231.61|
|546| Cristobal|St. Pierre|   cstpierref5@ow.ly|  NULL| 68233|1921-11-11 07:34:15|18450.07|
|574|      Dill| Langstone|dlangstonefx@apac...|  NULL|145590|1919-02-07 18:33:33|72661.34|
|597|     Jinny|   Wraight|jwraightgk@vkonta...|  NULL|122026|1950-08-23 16:40:08|    NULL|
|644|     Titus|      NULL|                NULL|  NULL|115794|1927-07-29 20:03:53|43906.14|
|667|   Cristen|     James|  cjamesii@desdev.cn|  NULL|  NULL|1960-04-30 13:59:36|37083.07|
|674|   Myrlene|   Moresby|mmoresbyip@freewe...|  NULL| 31450|1972-06-14 03:14:44|    NULL|
|686|    Darwin|      NULL|                NULL|  NULL|198016|1998-05-31 01:03:34| 2014.72|
|692|     Reese|     Forre|rforrej7@newyorke...|  NULL|127508|               NULL|    NULL|
|770|    Durand|   Skottle|dskottleld@cisco.com|  NULL|178390|1977-12-14 11:58:48|84035.63|
|791|       Boy|  Berggren|bberggrenly@narod.ru|  NULL| 64047|1929-08-20 21:32:45|50583.07|
|824|     Hanny|      NULL|hfarringtonmv@sym...|  NULL|116813|2003-05-09 19:25:56|24492.81|
+---+----------+----------+--------------------+------+------+-------------------+--------+
only showing top 20 rows


<b> Are there any missing values in the "bonus" field? If so, filled them defualt bonus 100.

In [17]:
# Write your code using the Spark Function

# find the missing values in bonus filds

df4 = df.filter(df.bonus.isNull())
print("Number of records with bonus value missing:", df4.count())
df4.show ()

# fill the missing value with 100

df5 = df.na.fill(100,['bonus'])
df5.show()

# check the null values in bonus again

df6 = df5.filter(df.bonus.isNull())
print("Number of records with bonus value missing:", df6.count())

Number of records with bonus value missing: 166
+---+----------+-----------+--------------------+------+------+-------------------+-----+
| id|first_name|  last_name|               email|gender|salary|       creationDate|bonus|
+---+----------+-----------+--------------------+------+------+-------------------+-----+
|  1|    Valene|     Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40| NULL|
|  2|  Lynnelle|      Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56| NULL|
|  4|    Dulsea|       Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39| NULL|
|  6|     Baily|     Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33| NULL|
|  9|   Sibylla|  Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30| NULL|
| 12|  Giuseppe|    Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03| NULL|
| 17|     Gilly|     Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57| NULL|
| 30|    Gretta|       NULL|gdeleat@webeden.c...|Female|134143|2001-03-19 12:19:50| NULL|
| 36|  Olenolin|       NULL|omaestriniz@googl...|  Male|101428|1929-09-27 09:37:46| NULL|
| 39|   Daniele|     Baelde|   dbaelde12@who.int|Female| 85612|1988-05-12 08:40:59| NULL|
| 48|    Weylin|     Heatly|    wheatly1b@ed.gov|  Male|185564|2014-10-27 22:42:51| NULL|
| 67|    Aloise|   Brombell|                NULL|Female| 51529|1987-02-16 16:02:18| NULL|
| 70|    Lianne|       Boam|                NULL|Female| 13695|1981-04-08 20:31:44| NULL|
| 75|    Allina|    Sposito|asposito22@japanp...|Female|130641|1925-01-10 03:12:07| NULL|
| 76|     Camey|    Crallan|ccrallan23@earthl...|  Male|147297|1911-07-25 23:37:49| NULL|
| 85|      NULL|  Learmouth|slearmouth2c@ebay...|Female| 60028|               NULL| NULL|
| 91|  Nicolais|Rosenfelder|nrosenfelder2i@pc...|  Male| 70478|               NULL| NULL|
| 96|   Katrina|    Snoxall|ksnoxall2n@buzzfe...|Female| 16459|1991-04-22 23:35:19| NULL|
|116|      NULL|      Jados|                NULL|  Male| 56578|2002-05-29 06:33:36| NULL|
|118|  Karalynn|     Scones| kscones39@weibo.com|Female|180007|               NULL| NULL|
+---+----------+-----------+--------------------+------+------+-------------------+-----+
only showing top 20 rows

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|   100.0|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|   100.0|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|   100.0|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|   100.0|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|   100.0|
| 10|      NULL|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|   100.0|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  NULL| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|   100.0|
| 18|      NULL|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

Number of records with bonus value missing: 166

<b> Are there any employees with negative salary or bonus amounts in the input file? If so, how many?

In [26]:
# Write your code using the Spark Function

# employees with negative salary and bonus

df7 = df.filter((df.salary<0) | (df.bonus<0))
print("Number of employees with negative salary or bonus:", df7.count())
df7.show()

# employee with 0/NULL bonus

df8 = df.filter((df.bonus==0) | (df.bonus.isNull()))
print("Number of employees with NULL bonus:", df8.count())
df8.show()

Number of employees with negative salary or bonus: 0
+---+----------+---------+-----+------+------+------------+-----+
| id|first_name|last_name|email|gender|salary|creationDate|bonus|
+---+----------+---------+-----+------+------+------------+-----+
+---+----------+---------+-----+------+------+------------+-----+

Number of employees with NULL bonus: 166
+---+----------+-----------+--------------------+------+------+-------------------+-----+
| id|first_name|  last_name|               email|gender|salary|       creationDate|bonus|
+---+----------+-----------+--------------------+------+------+-------------------+-----+
|  1|    Valene|     Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40| NULL|
|  2|  Lynnelle|      Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56| NULL|
|  4|    Dulsea|       Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39| NULL|
|  6|     Baily|     Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33| NULL|
|  9|   Sibylla|  Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30| NULL|
| 12|  Giuseppe|    Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03| NULL|
| 17|     Gilly|     Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57| NULL|
| 30|    Gretta|       NULL|gdeleat@webeden.c...|Female|134143|2001-03-19 12:19:50| NULL|
| 36|  Olenolin|       NULL|omaestriniz@googl...|  Male|101428|1929-09-27 09:37:46| NULL|
| 39|   Daniele|     Baelde|   dbaelde12@who.int|Female| 85612|1988-05-12 08:40:59| NULL|
| 48|    Weylin|     Heatly|    wheatly1b@ed.gov|  Male|185564|2014-10-27 22:42:51| NULL|
| 67|    Aloise|   Brombell|                NULL|Female| 51529|1987-02-16 16:02:18| NULL|
| 70|    Lianne|       Boam|                NULL|Female| 13695|1981-04-08 20:31:44| NULL|
| 75|    Allina|    Sposito|asposito22@japanp...|Female|130641|1925-01-10 03:12:07| NULL|
| 76|     Camey|    Crallan|ccrallan23@earthl...|  Male|147297|1911-07-25 23:37:49| NULL|
| 85|      NULL|  Learmouth|slearmouth2c@ebay...|Female| 60028|               NULL| NULL|
| 91|  Nicolais|Rosenfelder|nrosenfelder2i@pc...|  Male| 70478|               NULL| NULL|
| 96|   Katrina|    Snoxall|ksnoxall2n@buzzfe...|Female| 16459|1991-04-22 23:35:19| NULL|
|116|      NULL|      Jados|                NULL|  Male| 56578|2002-05-29 06:33:36| NULL|
|118|  Karalynn|     Scones| kscones39@weibo.com|Female|180007|               NULL| NULL|
+---+----------+-----------+--------------------+------+------+-------------------+-----+
only showing top 20 rows

<b> Replace all the null/emtpy value in email column with admin@azurelib.com

In [30]:
# Write your code using the Spark Function

# find the null/empty email id

df9 = df.filter ((df.email.isNull()) | (df.email==""))
df9.show()

# fill the null email id with "admin@azurelib.com" email

df10 = df.na.fill("admin@azurelib.com",['email'])
df10.show()

# check row with "admin@azurelib" email

df11 = df10.filter((df10.email=="admin@azurelib.com"))
df11.show()

+----+----------+-----------+-----+------+------+-------------------+--------+
|  id|first_name|  last_name|email|gender|salary|       creationDate|   bonus|
+----+----------+-----------+-----+------+------+-------------------+--------+
|  21|    Kristo|    Giraudy| NULL|  Male|152116|1962-08-16 21:27:30| 5982.54|
|  28| Sallyanne|  Iacobucci| NULL|Female|  2339|1939-05-10 11:30:31| 66003.0|
|  29|      NULL|     Nibley| NULL|Female|165764|2019-08-30 11:23:27|93953.74|
|  46|Kristoforo|     Sowray| NULL|  Male|131676|1959-03-14 16:01:23|27022.26|
|  64|   Cordell|Baszkiewicz| NULL|  Male| 89429|1998-04-26 03:44:59|50640.06|
|  67|    Aloise|   Brombell| NULL|Female| 51529|1987-02-16 16:02:18|    NULL|
|  70|    Lianne|       Boam| NULL|Female| 13695|1981-04-08 20:31:44|    NULL|
|  78|   Jillian|    Chasmar| NULL|Female| 18805|2019-01-07 02:06:41|93412.65|
|  95|     Davey|  Woodworth| NULL|  Male|  8569|2000-05-24 18:03:02|92849.24|
|  97|    Thorpe|    Gabotti| NULL|  Male|167464|1982-06-30 21:33:46|  8679.7|
|NULL|    Darren|       NULL| NULL|  Male|111848|1940-11-30 02:35:02| 6461.19|
| 116|      NULL|      Jados| NULL|  Male| 56578|2002-05-29 06:33:36|    NULL|
| 123|    Malchy|  Whitefoot| NULL|  Male| 28052|1918-08-05 15:45:12|39117.02|
| 142|       Erv|     Griggs| NULL|  Male|144655|2007-11-09 22:05:38| 95251.8|
| 145|     Adele|     Taylot| NULL|Female|  NULL|1968-01-14 05:31:32|    NULL|
| 146|    Amargo|   Tresvina| NULL|Female|185482|1962-04-26 20:02:19|45135.71|
| 152|    Lorrin|   Stopford| NULL|Female| 53416|1918-07-11 08:09:31|94705.56|
| 163|   Jeffrey|     Sugars| NULL|  Male|112937|1978-08-15 19:03:34|92001.92|
| 165|      Kirk|     Haddon| NULL|  Male| 46136|1975-07-12 23:15:40|68143.38|
| 169|    Jamesy|      Gilby| NULL|  Male|153493|1971-01-28 04:00:18|27030.09|
+----+----------+-----------+-----+------+------+-------------------+--------+
only showing top 20 rows

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|    NULL|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|    NULL|
| 10|      NULL|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|    NULL|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  NULL| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    NULL|
| 18|      NULL|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

+----+----------+-----------+------------------+------+------+-------------------+--------+
|  id|first_name|  last_name|             email|gender|salary|       creationDate|   bonus|
+----+----------+-----------+------------------+------+------+-------------------+--------+
|  21|    Kristo|    Giraudy|admin@azurelib.com|  Male|152116|1962-08-16 21:27:30| 5982.54|
|  28| Sallyanne|  Iacobucci|admin@azurelib.com|Female|  2339|1939-05-10 11:30:31| 66003.0|
|  29|      NULL|     Nibley|admin@azurelib.com|Female|165764|2019-08-30 11:23:27|93953.74|
|  46|Kristoforo|     Sowray|admin@azurelib.com|  Male|131676|1959-03-14 16:01:23|27022.26|
|  64|   Cordell|Baszkiewicz|admin@azurelib.com|  Male| 89429|1998-04-26 03:44:59|50640.06|
|  67|    Aloise|   Brombell|admin@azurelib.com|Female| 51529|1987-02-16 16:02:18|    NULL|
|  70|    Lianne|       Boam|admin@azurelib.com|Female| 13695|1981-04-08 20:31:44|    NULL|
|  78|   Jillian|    Chasmar|admin@azurelib.com|Female| 18805|2019-01-07 02:06:41|93412.65|
|  95|     Davey|  Woodworth|admin@azurelib.com|  Male|  8569|2000-05-24 18:03:02|92849.24|
|  97|    Thorpe|    Gabotti|admin@azurelib.com|  Male|167464|1982-06-30 21:33:46|  8679.7|
|NULL|    Darren|       NULL|admin@azurelib.com|  Male|111848|1940-11-30 02:35:02| 6461.19|
| 116|      NULL|      Jados|admin@azurelib.com|  Male| 56578|2002-05-29 06:33:36|    NULL|
| 123|    Malchy|  Whitefoot|admin@azurelib.com|  Male| 28052|1918-08-05 15:45:12|39117.02|
| 142|       Erv|     Griggs|admin@azurelib.com|  Male|144655|2007-11-09 22:05:38| 95251.8|
| 145|     Adele|     Taylot|admin@azurelib.com|Female|  NULL|1968-01-14 05:31:32|    NULL|
| 146|    Amargo|   Tresvina|admin@azurelib.com|Female|185482|1962-04-26 20:02:19|45135.71|
| 152|    Lorrin|   Stopford|admin@azurelib.com|Female| 53416|1918-07-11 08:09:31|94705.56|
| 163|   Jeffrey|     Sugars|admin@azurelib.com|  Male|112937|1978-08-15 19:03:34|92001.92|
| 165|      Kirk|     Haddon|admin@azurelib.com|  Male| 46136|1975-07-12 23:15:40|68143.38|
| 169|    Jamesy|      Gilby|admin@azurelib.com|  Male|153493|1971-01-28 04:00:18|27030.09|
+----+----------+-----------+------------------+------+------+-------------------+--------+
only showing top 20 rows

<b> Remove all the records where any record has any null values. Find out the total count of the records now.

In [35]:
# Write your code using the Spark Function

print("Total count of records:", df.count())

# drop all record with null values
df12 = df.na.drop()
print("Total count of records after removing null values:", df12.count())
df12.show()

Total count of records: 1000
Total count of records after removing null values: 512
+---+----------+-----------+--------------------+------+------+-------------------+--------+
| id|first_name|  last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+-----------+--------------------+------+------+-------------------+--------+
|  3|   Miranda|      Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  5|    Anatol|    Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  7|    Eunice|     Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|    Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
| 11|      Coop|      Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 13|    Lovell|    Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|      Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings|   Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 19|     Maris|  Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|    Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
| 22|     Becki|      Conry|bconryl@examiner.com|Female| 10203|2003-02-07 10:00:05|47067.23|
| 23|      Edie|      Orniz|eornizm@moonfruit...|Female| 81920|1982-10-03 14:48:25|20019.85|
| 24|   Sharity|     Fronks|sfronksn@economis...|Female|169527|1951-06-14 19:32:49| 4960.71|
| 25|     Vally|   Dahlberg|vdahlbergo@dyndns...|Female| 80628|1924-07-07 06:20:37|60914.52|
| 26|     Effie|Maffioletti|emaffiolettip@pos...|Female| 34228|1986-03-23 12:03:27|31496.73|
| 31|    Blayne|  Yuranovev|byuranovevu@blogt...|  Male|188551|1998-07-27 11:30:51|27111.81|
| 32|      Maud|     Formby|mformbyv@macromed...|Female|182359|1964-08-24 11:02:47|77984.03|
| 37|    Maggee|     Rablin|mrablin10@mashabl...|Female|134344|2004-10-08 01:50:46|60163.15|
| 38|     Nikki|    Woolner|nwoolner11@linked...|Female|  3792|1942-05-13 12:11:21|21054.48|
| 40|    Farlee|    Fincken|ffincken13@google...|  Male|126873|1937-06-14 23:34:30|58907.18|
+---+----------+-----------+--------------------+------+------+-------------------+--------+
only showing top 20 rows